/**
 * Top Hats & Monocles
 *
 * @rel			stylesheet
 * @desc		This is the main stylesheet for the website.
 *
 */

/**
 * Page Setup
 */
html { height: 100%; }
body {
	font-family: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

/**
 * Common Elements
 */
.clearfix { clear: both; }
.left { float: left; }
.right { float: right; }

.serif { font-family: 'Cambria', serif; }
.sans { font-family: sans-serif; }

a { color: #4183C4; text-decoration: none; }
a:hover { text-decoration: underline; }

.n100ph { height: 100%; }
.nnormal { font-weight: normal; }
.nbold { font-weight: bold; }
.nbreak { border-bottom: 1px solid #EEE; margin: 0 0 10px; }

.bottom { bottom: 0; margin-bottom: 0; position: absolute; }
.relative { position: relative; }

/* Bootstrap Overrides:
 * ==================== */
.img-polaroid {	margin: 5px 12px; }

/* Main Page Setup
 * =============== */
#errContainer {
	left: 50%;
	margin-left: -400px;
	position: absolute;
	top: 10px;
	width: 800px;
	z-index: 2;
}
	#errContainer .alert {
		margin-top: 10px;
	}

#fixedContainer {
	height: 416px;
	left: 50%;
	margin: -208px 0 0 -512px;
	position: absolute;
	top: 50%;
	width: 1024px;
}

#longContainer {
	margin: auto;
	padding: 40px 0 40px 0;
	width: 1024px;
}

/* Primary Navigation
 * ================== */
#primary-navigation {
	background-color: #FAFAFB;
	border: 1px solid #D8D8D8;
	border-radius: 2px;
	list-style: none;
	margin: 0;
	padding: 0;
}
	#primary-navigation li {
		border-bottom: 1px solid #EEE;
		border-top: 1px solid white;
		line-height: 1.4;
	}
		#primary-navigation li:hover {
			background-color: #fdfdfe;
		}
		#primary-navigation li a {
			display: block;
			padding: 8px 10px;
		}
			#primary-navigation li a:hover {
				color: #4183C4;
				text-decoration: none;
			}
		#primary-navigation li a.active {
			background-color: white;
			border-left: 2px solid #009966;
			color: black;
			font-weight: bold;
		}

/* Common Styles:
 * ============== */
.bubble {
	background: #eee;
	border-radius: 3px;
	padding: 3px;
}
.wwell {
	background-color: white;
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	padding: 19px;
}

p.header {
	background-color: #DFF0D8;
	border: 1px solid #d1d1d1;
	border-bottom: 1px solid #D8D8D8;
	color: #468847;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4;
	margin: 0 0 -2px;
	padding: 6px 12px;
}

/* Homepage Styles
 * =============== */

	/* Homepage Project
	 * ================ */
	#currentproj > p { padding: 5px 0 0 0; }

	/* Feed Setup:
	 * =========== */
	.feed {
		border: 1px solid #CACACA;
		border: 1px solid #BBD2BC;
		border-top-color: #D1EAD2;
	}
	.feed .entry {
		background-color: #f8f8f8;
		border-bottom: 1px solid #eee;
		display: block;
		line-height: 16px;
		padding: 7px 10px;
	}
		.feed .imgFeedType {
			margin: -8px 14px 0 -10px;
		}
	.feed a { color: #4183C4; font-size: 13px; font-weight: bold; text-shadow: white 1px 1px 0px; }
	.feed h1 {
		background-color: #DFF0D8;
		border-bottom: 1px solid #D8D8D8;
		color: #468847;
		font-size: 14px;
		line-height: 1.4;
		margin: 0;
		padding: 6px 12px;
	}

		/* Github Feed Style:
		 * ================== */
		.feed .entry.Github .details { display: none; }
		.feed .entry.Github .title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
		.feed .entry.Github time { display: none; }

/* Contact Page Styles
 * =================== */
#cntContact {
	position: relative;
}
	#cntContact address {
		margin:0;
	}
	#cntContact input[type="text"] {
		font-size: 13px;
		width: 180px;
	}
	#cntContact textarea {
		background-color: #FAFAFA;
		border: 1px solid #d1d1d1;
		border-radius: 3px;
		font-size: 13px;
		height: 280px;
		max-height: 280px;
		margin: -6px;
		padding: 8px;
		width: 453px;
		max-width: 453px;
	}
	#cntContact .headers {
		bottom: 0;
		left: 0;
		position: absolute;
		width: 244px;
	}

/* Login Page Styles:
 * ================== */
#loginContainer {
	height: 335px;
	left: 50%;
	margin: -220px 0 0 -135px;
	position: absolute;
	top: 50%;
	width: 270px;
}

/* Blog Styles:
 * ============ */
.blog-entry {
	margin-bottom: 20px;
}