/*!
 * Elliot Wright - Portfolio CSS
 *
 * Copyright 2012 Elliot Wright
 */

body {
  font-size: 13px;
}


/* Text Styles:
=============*/
.capitalize {
  text-transform: capitalize;
}

.serif {
  font-family: 'Cambria', serif;
}


/* Block Styles:
==============*/
.container-error {
  left: 50%;
  margin-left: -400px;
  position: absolute;
  top: 10PX;
  width: 800px;
  z-index: 51;
}

  .container-error .alert {
    margin-top: 10px;
  }

.container-fixed {
  height: 437px;
  left: 50%;
  margin: -208px 0 0 -512px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 1024px;
}

  .fixed-navigation {
    height: 437px;
    margin-top: -208px;
    position: fixed;
    top: 50%;
    width: 240px;
  }

.container-login {
  height: 335px;
  left: 50%;
  margin: -220px 0 0 -135px;
  position: absolute;
  top: 50%;
  width: 270px;
}

.container-long {
  margin: auto;
  padding: 40px 0;
  width: 1024px;
}

/* Bootstrap Overrides:
=====================*/
.btn,
.btn:hover,
.btn:active {
  border-radius: 2px !important;
  font-size: 13px !important;
}

.well {
  border-radius: 0;
}

/* Bootstrap Additions:
=====================*/
.page-header > p {
  font-size: 21px;
  margin-bottom: 20px;
}

  .page-header > p small {
    color: #999;
    font-weight: normal;
    line-height: 1;
  }

  .page-header > .date {
    background-color: #212121;
    border: 3px solid #ddd;
    color: white;
    float: right;
    margin: -21px 0 0 0;
    padding: 4px 8px;
  }
    .page-header > .date > .d {
      font-size: 27px;
      margin-bottom: 4px;
    }
    .page-header > .date > .m {
      font-size: 14px;
      line-height: 15px;
      text-align: center;
    }

.well-white {
  background-color: white;
  border-color: #D4D4D4;
  color: #333;
}

.well-dark {
  background-color: #2D2D2D;
  border-color: #000;
  color: white;
}

.well-danger,
.well-error {
  background-color: #F2DEDE;
  border-color: #EED3D7;
  color: #B94A48;
}

.well-info {
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  color: #3A87AD;
}

.well-success {
  background-color: #DFF0D8;
  border-color: #D6E9C6;
  color: #468847;
}

.well-warning {
  background-color: #FCF8E3;
  border-color: #FBEED5;
  color: #C09853;
}

/* Uncommon Styles:
=================*/
.userbar {
  margin-bottom: 46px;
}

.userbar-inner {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

/* Generic Common Styles:
=======================*/
.bubble {
  background-color: #EEE;
  padding: 3px;
}

  .bubble > .well {
    margin: 0;
  }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* Other Common Styles:
=====================*/
.epic-list {
  background-color: #FAFAFB;
  border: 1px solid #D8D8D8;
  border-radius: 2px;
  list-style: none;
  margin: 0;
  padding: 0;
}

  .epic-list > li {
    border-bottom: 1px solid #EEE;
    border-top: 1px solid white;
    line-height: 1.4;
  }
    .epic-list > li:hover {
      background-color: #FDFDFE;
    }

    .epic-list > .header {
      background-color: white;
      font-size: 14px;
      font-weight: bold;
    }

    .epic-list > .header,
    .epic-list > .desc,
    .epic-list > li > a {
      display: block;
      padding: 8px 10px;
    }

      .epic-list > li > a:hover {
        text-decoration: none;
      }

        .epic-list .active {
          background-color: white;
          border-left: 2px solid #096;
          color: black;
          font-weight: bold;
        }

    .epic-list > li > .sprite {
      margin: 8px 8px 7px 8px;
    }

    .epic-list > li > p,
    .epic-list > li > p ~ p {
      margin-bottom: 0;
    }

    .epic-list > li > p {
      margin-top: 5px;
    }

    .epic-list > li > p ~ p {
      margin-top: 0;
    }

    .epic-list > li > p:last-child {
      margin-bottom: 6px;
    }


.inline-left {
  margin-right: 10px;
}

.inline-right {
  margin-left: 10px;
}


.mini-project {
  padding: 12px;
  position: relative;
}

  .mini-project > .header {
    font-size: 14px;
    margin: 6px 0;
  }

  .mini-project > .pull-left {
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .mini-project > .pull-right {
    margin-bottom: 10px;
    margin-left: 10px;
  }


.story-content > img.pull-left {
  margin: 0 10px 8px 0;
}

.story-content > img.pull-right {
  margin: 8px 0 0 10px;
}

/* Sprites:
=========*/
.sprite{ background-image: url("../images/feed/sprites.png"); display: block; }
.sprite-500px{ background-position: 0 0; width: 32px; height: 32px; }
.sprite-addthis{ background-position: 0 -82px; width: 32px; height: 32px; }
.sprite-behance{ background-position: 0 -164px; width: 32px; height: 32px; }
.sprite-blogger{ background-position: 0 -246px; width: 32px; height: 32px; }
.sprite-deliciou{ background-position: 0 -328px; width: 32px; height: 32px; }
.sprite-delicious{ background-position: 0 -410px; width: 16px; height: 16px; }
.sprite-deviantart{ background-position: 0 -476px; width: 32px; height: 32px; }
.sprite-digg{ background-position: 0 -558px; width: 32px; height: 32px; }
.sprite-dopplr{ background-position: 0 -640px; width: 32px; height: 32px; }
.sprite-evernote{ background-position: 0 -722px; width: 32px; height: 32px; }
.sprite-facebook{ background-position: 0 -804px; width: 32px; height: 32px; }
.sprite-flickr{ background-position: 0 -886px; width: 32px; height: 32px; }
.sprite-forrst{ background-position: 0 -968px; width: 32px; height: 32px; }
.sprite-github{ background-position: 0 -1050px; width: 32px; height: 32px; }
.sprite-google{ background-position: 0 -1132px; width: 32px; height: 32px; }
.sprite-grooveshark{ background-position: 0 -1214px; width: 32px; height: 32px; }
.sprite-instagram{ background-position: 0 -1296px; width: 32px; height: 32px; }
.sprite-lastfm{ background-position: 0 -1378px; width: 32px; height: 32px; }
.sprite-linkedin{ background-position: 0 -1460px; width: 32px; height: 32px; }
.sprite-mail{ background-position: 0 -1542px; width: 32px; height: 32px; }
.sprite-myspace{ background-position: 0 -1624px; width: 32px; height: 32px; }
.sprite-path{ background-position: 0 -1706px; width: 32px; height: 32px; }
.sprite-paypal{ background-position: 0 -1788px; width: 32px; height: 32px; }
.sprite-picasa{ background-position: 0 -1870px; width: 32px; height: 32px; }
.sprite-posterous{ background-position: -82px 0; width: 32px; height: 32px; }
.sprite-reddit{ background-position: -82px -82px; width: 32px; height: 32px; }
.sprite-rss{ background-position: -82px -164px; width: 32px; height: 32px; }
.sprite-sharethis{ background-position: -82px -246px; width: 32px; height: 32px; }
.sprite-skype{ background-position: -82px -328px; width: 32px; height: 32px; }
.sprite-soundcloud{ background-position: -82px -410px; width: 32px; height: 32px; }
.sprite-spotify{ background-position: -82px -492px; width: 32px; height: 32px; }
.sprite-stumbleupon{ background-position: -82px -574px; width: 32px; height: 32px; }
.sprite-tumblr{ background-position: -82px -656px; width: 32px; height: 32px; }
.sprite-twitter{ background-position: -82px -738px; width: 32px; height: 32px; }
.sprite-viddler{ background-position: -82px -820px; width: 32px; height: 32px; }
.sprite-vimeo{ background-position: -82px -902px; width: 32px; height: 32px; }
.sprite-virb{ background-position: -82px -984px; width: 32px; height: 32px; }
.sprite-windows{ background-position: -82px -1066px; width: 32px; height: 32px; }
.sprite-wordpress{ background-position: -82px -1148px; width: 32px; height: 32px; }
.sprite-youtube{ background-position: -82px -1230px; width: 32px; height: 32px; }
.sprite-zerply{ background-position: -82px -1312px; width: 32px; height: 32px; }
